:root {
  --bgColor: #0e1013;
  --colorFont: #d5d5d5;
  --colorTitle: #3d3f43;
  --colorSubTitle: #68696a;
  --container: 62rem;
  --containerHeight: calc(var(--elementHeight) + 50px);
  --elementWidth: 600px;
  --elementHeight: 400px;

  --scroll-bar-color: black;
  --scroll-thumb-color: #ccc;
}

@font-face {
  font-family: 'sienthas';
  src: url(../fonts/sienthas.otf), url(../fonts/Sienthas-BWpww.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "consola";
  src: url(fonts/consola.ttf);
}

@font-face {
  font-family: "consola";
  src: local(consola), url(../fonts/consolab.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--bgColor);
  font-family: consolas;
  color: var(--colorFont);
}

::selection {
  background-color: white;
  color: var(--bgColor);
}

.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: azure;
}

/* ================ HEADER CSS ================ */
.header {
  width: 100%;
  height: calc(100vh - 53px);
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
}


.name h1 {
  font-family: sienthas;
  font-weight: normal;
  font-size: 5rem;
  color: #fff;
  animation: nameAnime 2s forwards;
}

.sobre {
  transform: scale(0);
  animation: .5s sobreAnime 2s forwards;
}

.sobre span {
  font-size: 1.5rem;
  color: var(--colorFont);
  opacity: 70%;
}

.setaBaixo {
  font-size: 2.2rem;
  color: var(--colorFont);
  animation: setaheader 1.5s ease-in-out infinite;
}

/* ================ MAIN ================ */
.section__title {
  margin-bottom: 2rem;
  text-align: center;
}

.section__title h1 {
  font-size: 4rem;
  line-height: .9;
  text-transform: uppercase;
  color: var(--colorTitle);
}

.section__title h3 {
  font-size: .7rem;
  color: var(--colorSubTitle);
}

/* ABOUT CSS */

#about {
  height: 100vh;
}

.about {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 15px;
}

.about p {
  margin: 15px auto;
}

/* SKILLS */
#skills {
  gap: 3rem;
  min-height: 100vh;
  overflow: hidden;
}

.skills {
  display: grid;
  gap: 3rem;
}

.skills__left {
  gap: 3rem;
}

.skills__item .icon::before {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 48px;
  font-size: 3rem;
  margin-right: 2rem;
}

.skills__item h2 {
  font-size: 1.2rem;
  color: var(--colorFont);
}

.skills__item p {
  font-size: .9rem;
  color: var(--colorSubTitle);
}

.skills__right {
  justify-content: space-around;
  gap: .5rem;
}

.skill__prog {
  position: relative;
  display: flex;
  width: 100%;
  height: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 6px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.skill__prog span {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: -1px;
  width: 130px;
  height: 100%;
  padding-left: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.skill__prog p {
  position: absolute;
  align-self: center;
  color: var(--colorTitle);
  font-size: .85rem;
  right: .5rem;
}

/* PORTIFOLIO */
#portfolio {
  min-height: 100vh;
}

/*  ================ FOOTER ================ */

/* ================ RESPONSIVIDADE ================ */
@media (min-width: 62rem) {

  header {
    height: 100vh;
  }

  .name h1 {
    font-size: 10rem;
  }

  .sobre span {
    font-size: 2rem;
  }

  .aboutMe {
    display: block;
    opacity: 3%;
  }

  .about {
    font-size: 1.6rem;
  }

  .section__title h1 {
    font-size: 10rem;
    line-height: .9;
  }

  .section__title h3 {
    font-size: 1rem;
  }

  .skills {
    grid-template-columns: 1fr 1fr;
  }

  .skills__item h2 {
    font-size: 2.3rem;
  }

  .skills__item p {
    font-size: 1rem;
  }

  .skills__right {
    gap: 2rem;
  }

  .skill__prog {
    height: 4rem;
  }

  /* Animações */
  .about.ativo {
    animation: botTop 2s ease forwards;
  }

  .section__title.ativo {
    animation: topBot 2s ease forwards;
  }

  .skills__right.ativo {
    animation: rightLeft 2s ease forwards;
  }

  .skills__left.ativo {
    animation: leftRight 2s ease forwards;
  }
}

/* ================ ANIMATIONS ================ */
@keyframes nameAnime {
  0% {
    transform: rotateX(.25turn);
  }

  25% {
    transform: rotateX(10deg);
  }

  40% {
    transform: rotateX(0deg);
  }

  70% {
    transform: rotateX(-30deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes sobreAnime {
  0% {
    transform: scale(0) translateY(-100%);
  }

  100% {
    transform: scale(1) translateY(0rem);
  }
}

@keyframes setaheader {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes topBot {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes botTop {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes rightLeft {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}